@import "variables";


//.button-container {
//  text-align: center;
//}
//
//
//input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
//  -webkit-appearance: none;
//  margin: 0;
//}
//// The Styles for the form
//
//.mau-input-container{
//  display: flex;
//  justify-content: center;
//  .mau-form-block {
//    width: 500px;
//    flex: 1;
//  }
//}
//
//.mau-check-table{
//  .row-first-column {
//    width: 34px;
//  }
//}
//
//.mau-text-right {
//  text-align: right;
//}
//
//.mau-text-center {
//  text-align: center;
//}
//
//.mau-form-group {
//  margin-bottom: ($mf-form-group-margin-bottom / 1.5);
//
//  .mau-input-group {
//    position: relative;
//    display: flex;
//    flex-direction: row;
//
//
//    .mau-label {
//
//    }
//
//    .input-wrapper {
//      position: relative;
//      display: block;
//      width: 100%;
//    }
//
//
//    input,
//    textarea {
//      display: block;
//      background: none;
//      padding: $mf-spacer $mf-spacer ($mf-spacer / 2);
//      font-size: $mf-font-size;
//      border-width: 0;
//      border-color: transparent;
//      line-height: $mf-input-line-height;
//      width: 100%;
//      color: transparent;
//      transition: all $mf-transition-speed ease;
//      box-shadow: none;
//    }
//
//    .bar {
//      position: relative;
//      border-bottom: $mf-bar-border;
//      display: block;
//
//      &::before {
//        content: '';
//        height: ($mf-font-size / 8);
//        width: 0;
//        left: 50%;
//        bottom: ($mf-font-size / -16);
//        position: absolute;
//        background: $mf-focus-border-color;
//        transition: left $mf-transition-speed ease, width $mf-transition-speed ease;
//        z-index: 2;
//      }
//    }
//
//
//
//    select,
//    input,
//    textarea {
//      &:focus {
//        outline: none;
//
//        ~ .bar {
//          &::before {
//            width: 100%;
//            left: 0;
//          }
//        }
//      }
//    }
//
//    .input, textarea.chat {
//      height: ($mf-font-size * 1.9);
//    }
//
//    select,
//    input:focus,
//    input:valid,
//    input.form-file,
//    input.has-value,
//    textarea:focus,
//    textarea:valid,
//    textarea.form-file,
//    textarea.has-value {
//      color: $mf-input-color;
//
//      ~ .control-label {
//        padding-left: 0;
//      }
//    }
//  }
//}
//
//
//.form-group {
//  position: relative;
//  display: flex;
//  flex-direction: row;
//  min-height: $mf-min-height;
//
//  &.with-margin{
//    padding-top: ($mf-font-size * 0.8);
//    margin-bottom: $mf-form-group-margin-bottom;
//  }
//
//  .input-group {
//    align-self: flex-end;
//  }
//
//  .input-icon {
//    position: absolute;
//    top: $mf-icon-top;
//    color: $mf-label-color;
//  }
//
//  .text-secondary {
//    color: $mf-label-color;
//  }
//
//  .input-group {
//    position: relative;
//    display: block;
//  }
//
//  &.select-form-group {
//    .dropdown-toggle::after {
//      display: none;
//    }
//
//    .dropdown-menu {
//      width: 100%;
//    }
//
//    .dropdown-item {
//      cursor: pointer;
//      justify-content: space-between;
//
//      .selected-icon {
//        display: none;
//        margin-left: 0.35rem;
//      }
//
//      &.selected {
//        color: $mf-focus-color;
//
//        .selected-icon {
//          display: inline-block;
//        }
//      }
//    }
//
//    .input-icon {
//      color: $mf-active-color;
//      font-size: 0.8rem;
//      top: 1rem;
//    }
//
//    .bar::before {
//      display: none;
//    }
//  }
//
//  &.form-group-w- {
//    .btn {
//      align-self: flex-end;
//    }
//  }
//
//  &.with-icon-right {
//    input {
//      padding-right: $mf-icon-gutter;
//    }
//
//    .icon-right {
//      right: 0;
//    }
//  }
//
//  &.with-icon-left {
//    input,
//    textarea
//    {
//      padding-left: $mf-icon-gutter;
//
//      ~ .control-label {
//        padding-left: $mf-icon-gutter;
//      }
//    }
//
//    select,
//    input:focus,
//    input:valid,
//    input.form-file,
//    input.has-value,
//    textarea:focus,
//    textarea:valid,
//    textarea.form-file,
//    textarea.has-value {
//      color: $mf-input-color;
//
//      ~ .control-label {
//        padding-left: 0;
//      }
//    }
//
//    .icon-left {
//      left: 0;
//    }
//  }
//
//  .error-icon, .valid-icon {
//    display: none;
//  }
//}
//
//.form-inline {
//  > .form-group,
//  > .btn {
//    display: inline-block;
//    margin-bottom: 0;
//  }
//}
//
//.form-help {
//  margin-top: $mf-spacer;
//  margin-left: $mf-spacer;
//  color: $mf-label-color;
//  font-size: $mf-active-font-size;
//
//  .form-group & {
//    position: absolute;
//    width: 100%;
//  }
//
//  .checkbox & {
//    position: relative;
//    margin-bottom: $mf-font-size;
//  }
//}
//
//.form-group {
//  // scss-lint:disable QualifyingElement, NestingDepth
//  input, textarea.chat {
//    height: ($mf-font-size * 1.9);
//  }
//
//  textarea {
//    resize: none;
//  }
//
//  select {
//    width: 100%;
//    font-size: $mf-font-size;
//    height: ($mf-font-size * 1.6);
//    padding: $mf-spacer $mf-spacer ($mf-spacer / 2);
//    background: none;
//    border: none;
//    line-height: 1.6;
//    box-shadow: none;
//  }
//
//  .control-label {
//    position: absolute;
//    top: ($mf-font-size / 4);
//    left: 0;
//    max-width: 100%;
//    overflow: hidden;
//    white-space: nowrap;
//    text-overflow: ellipsis;
//    pointer-events: none;
//    padding-left: $mf-spacer;
//    z-index: 1;
//    color: $mf-label-color;
//    font-size: $mf-font-size;
//    font-weight: normal;
//    transition: all $mf-transition-speed ease;
//  }
//
//  .bar {
//    position: relative;
//    border-bottom: $mf-bar-border;
//    display: block;
//
//    &::before {
//      content: '';
//      height: ($mf-font-size / 8);
//      width: 0;
//      left: 50%;
//      bottom: ($mf-font-size / -16);
//      position: absolute;
//      background: $mf-focus-border-color;
//      transition: left $mf-transition-speed ease, width $mf-transition-speed ease;
//      z-index: 2;
//    }
//  }
//
//  input,
//  textarea {
//    display: block;
//    background: none;
//    padding: $mf-spacer $mf-spacer ($mf-spacer / 2);
//    font-size: $mf-font-size;
//    border-width: 0;
//    border-color: transparent;
//    line-height: $mf-input-line-height;
//    width: 100%;
//    color: transparent;
//    transition: all $mf-transition-speed ease;
//    box-shadow: none;
//  }
//
//  input[type="file"] {
//    line-height: 1;
//
//    ~ .bar {
//      display: none;
//    }
//  }
//
//  &.show input,
//  select,
//  input:focus,
//  input:valid,
//  input.form-file,
//  input.has-value,
//  textarea:focus,
//  textarea:valid,
//  textarea.form-file,
//  textarea.has-value {
//    color: $mf-input-color;
//
//    ~ .control-label {
//      font-size: $mf-active-font-size;
//      color: $mf-focus-color;
//      font-weight: 600;
//      text-transform: $mf-active-text-transform;
//      top: $mf-active-top;
//      left: 0;
//    }
//  }
//
//  select,
//  input,
//  textarea {
//    &:focus {
//      outline: none;
//
//      ~ .control-label {
//        color: $mf-focus-color;
//      }
//
//      ~ .bar {
//        &::before {
//          width: 100%;
//          left: 0;
//        }
//      }
//    }
//  }
//}
//
//.valid {
//  .legend.legend,
//  &.form-group .control-label.control-label {
//    // Prevent !importantRule
//    color: $mf-focus-color;
//  }
//
//  .valid-icon {
//    display: inline-block;
//    color: $mf-focus-color;
//  }
//}
//
//.has-error {
//  .legend.legend,
//  &.form-group .control-label.control-label {
//    // Prevent !importantRule
//    color: $mf-error-color;
//  }
//
//  .error-icon {
//    display: inline-block;
//    color: $mf-error-color;
//  }
//
//  &.form-group {
//    .icon-right {
//      color: $mf-error-color;
//    }
//  }
//
//  &.form-group,
//  &.checkbox {
//    .form-help,
//    .helper {
//      color: $mf-error-color;
//    }
//  }
//
//  .bar {
//    &::before {
//      background: $mf-error-color;
//      left: 0;
//      width: 100%;
//    }
//  }
//}
